.container{
    margin: 2rem;
}
.end{
    display: flex;
    margin-top: 3rem;
    justify-content: center;}
   
    .btn {
        color: white;
      font-size: 16px;
      font-weight: 200;
      letter-spacing: 1px;
      padding: 13px 20px 13px;
      outline: 0;
      border: 1px solid black;
      cursor: pointer;
      position: relative;
      background-color: #FF44B6;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .btn:after {
      content: "";
      background-color: white;
      width: 100%;
      z-index: -1;
      position: absolute;
      height: 100%;
      top: 7px;
      left: 7px;
      transition: 0.2s;
    }
    
    .btn:hover:after {
      top: 0px;
      left: 0px;
    }



.flex-center{
    display: flex;
    justify-content: center;    
    flex-direction: column;
    padding: 1rem;
    gap: 1em;
}

.container .flex{
    display: flex;
    justify-content: space-around;
    
}

.container .flex span {
    font-size: 1.4em;
    color: #cecece;
}

.container .flex span.achive {
    font-weight: bold;
    color: red;
    color: green;
}
